<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="EVCharger.Server.EVChargerService">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:4000" />
					</baseAddresses>
				</host>

				<endpoint
				  address="EVChargerService"
				  binding="netTcpBinding"
				  contract="EVCharger.Common.IEVChargerService" />
			</service>
		</services>
	</system.serviceModel>
</configuration>